:root {
    --clr-neutral-100: hsl(240, 5%, 91%);
    --clr-neutral-200: hsl(240, 6%, 50%);
    --clr-neutral-300: hsl(237, 12%, 33%);
    --clr-neutral-400: hsl(238, 29%, 16%);

    --clr-accent-400: hsl(14, 88%, 65%);
    --gradient: linear-gradient(90deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}


/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}


ul {
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]),
a {
    text-decoration-skip-ink: auto;
    text-decoration: none;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

input {
    width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-image: var(--gradient);
    background-size: 300%;
    animation: bg-animation 10s infinite alternate;
    display: grid;
    place-items: center;
    position: relative;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.card {
    background-color: #fff;
    border-radius: 1.5rem;
    max-width: 320px;
    margin-inline: auto;
    display: grid;
    box-shadow: 0px 20px 50px -10px rgb(0 0 0 / 0.3);
}

.card__title {
    font-size: 2.1rem;
    font-weight: 700;
    color: var(--clr-neutral-400);
    text-align: center;
}

.card__img {
    filter: drop-shadow(0px 30px 20px rgb(0 0 0 / 0.15));
    animation: slideup 1s ease;
}

.card__img-wrapper {
    width: 85%;
    margin-inline: auto;
    margin-top: -8rem;
    padding-bottom: 4em;
    position: relative;
}

.card__img-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center -28px;
}

.card-wrapper {
    position: relative;
}

.card__img--cube {
    position: absolute;
    z-index: 1000;
    max-width: 40%;
    top: -65px;
    left: 0;
    animation: float cubic-bezier(.86, 0, .07, 1) 1.5s infinite alternate;
}

.col2 {
    padding: 1.5em;
}

@keyframes float {
    0% {
        filter: drop-shadow(0px 12px 5px rgb(0 0 0 / 0.3));
    }

    100% {
        transform: translateY(-6px);
        filter: drop-shadow(0px 5px 5px rgb(0 0 0 / 0.3));
    }
}


@keyframes slideup {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.col2 {
    scrollbar-width: none;
    overflow-y: scroll;
}

@media(min-width: 1050px) {
    .card {
        grid-template-columns: 1fr 1fr;
        height: 500px;
        width: 900px;
        max-width: 900px;
        padding-bottom: 0;
        overflow: hidden;
    }

    .card__title {
        text-align: start;
    }

    .card__img-wrapper {
        width: 110%;
        margin-inline: auto;
        margin-top: 0;
        margin-left: -5rem;
        display: grid;
        place-items: center;
        padding-bottom: 0;
    }

    .card__img-wrapper::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url('images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: 205%;
        background-position: right -320px;
    }

    .card__img--cube {
        max-width: 100%;
        top: 210px;
        left: -93px;
    }

    .col2 {
        padding: 3em 6em 3em 2em;
    }
}

summary {
    cursor: pointer;
    color: var(--clr-neutral-300);
    white-space: nowrap;
}

summary {
    list-style: none;
}

summary:hover {
    color: var(--clr-accent-400);
}

details {
    color: var(--clr-neutral-200);
    position: relative;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--clr-neutral-100);
    font-size: 0.84rem;
}

@media(min-width: 1080px) {
    details {
        font-size: 0.95rem;
    }
}

details p {
    max-width: 32ch;
}

details {
    margin-top: 1.5rem;
}

summary::after {
    content: url('images/icon-arrow-down.svg');
    position: absolute;
    right: 0;
    transition: all 0.25s ease;
}

details[open] summary {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

details[open] summary::after {
    transform: rotate(180deg);
}